body {
  background: black !important;
}

.app {
  display: flex;
  flex-direction: column;
}

.title {
  color: #E8E2DE;
  margin-top: .5em;
  text-align: center;
}

.subtitle {
  color: #E8E2DE;
  margin-top: .5em;
  text-align: center;
}

.label {
  color: #E8E2DE;
  margin-top: 3em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 30%;
}

.form__input {
  border: 3px solid black;
  background-color: #E8E2DE;
}

.links {
  color: #E8E2DE;
  margin: 2em 30%;
}

.search-button {
  color: #E8E2DE;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.random-button {
  color: #E8E2DE;
  cursor: pointer;
  margin: 4em auto;
}
